.container
  .row
    / Blog Entries Column
    .col-md-8
      %h1.page-header
        Blog
        %small Best Blog in the World!
      / posts
      = render partial: 'posts_preview'
      / Pagination
      = render partial: 'pagination'
    .col-md-4
      = render partial: 'search'
      = render partial: 'categories'
      = render partial: 'side_widget'
