.container
  .row
    / Blog Post Content Column
    .col-lg-8
      = render partial: 'post_actions'
      / Blog Post
      = render partial: 'post_base'
      %hr/
      = render partial: 'comments'
      %br
      .well
        %h4 Leave a Comment:
        = render partial: '/comments/form'
      %hr/
    / Blog Sidebar Widgets Column
    .col-md-4
      = render partial: 'search'
      = render partial: 'categories'
      = render partial: 'side_widget'
